<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Síntomas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />

    <!-- Cdn para controlar los sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <!-- Formulario -->
    <div class="form-header">
        <h1>Formulario de atributos</h1>
    </div>
    <br>
    <div align="center">
        <!-- Boton para mostrar grafico de barras -->
        <button id="generateBtn" style="display: inline-block; margin-right: 10px;" class="form-submit">Generar Gráfico
            de
            barras</button>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
        </div>
        <!-- Boton para mostrar grafico de calor -->
        <button id="generateBtn2" style="display: inline-block; margin-right: 10px;" class="form-submit">Generar Gráfico
            de
            calor</button>
        <div id="myModal2" class="modal">
            <span class="close1">&times;</span>
            <img class="modal-content" id="img012">
        </div>
        <!-- Boton para mostrar grafico de dispersion -->
        <button id="generateBtn3" style="display: inline-block; margin-right: 10px;" class="form-submit">Generar Gráfico
            de
            dispersion</button>
        <div id="myModal3" class="modal">
            <span class="close2">&times;</span>
            <img class="modal-content" id="img013">
        </div>
        <!-- Boton para mostrar grafico de arbol de decision -->
        <button id="generateBtn4" style="display: inline-block; margin-right: 10px;" class="form-submit">Generar Gráfico
            de
            decision</button>
        <div id="myModal4" class="modal">
            <span class="close3">&times;</span>
            <img class="modal-content" id="img014">
        </div>

        <!-- Boton para volver a la vista principal -->
        <form id="analizadorForm" action="{{ url_for('Principal') }}" method="POST">
            <button type="submit" id="analizadorBtn" class="form-submit2">Volver al principal</button>
        </form>
    </div>
    <div class="form-container">
        <div class="form-section">
            <h2>Caracteristicas 1</h2>

            <!-- input para la edad -->
            <label for="age" class="form-label">Cual es su edad?</label>
            <input type="number" id="age" name="age" class="form-input" required
                placeholder="Escriba su respuesta por favor" />

            <!-- input para el colesterol -->
            <label for="cholesterol" class="form-label">En cuanto tiene el nivel de colesterol?</label>
            <input type="number" id="cholesterol" name="cholesterol" class="form-input" required
                placeholder="Escriba su respuesta por favor" />

            <!-- input para la frecuencia cardiaca -->
            <label for="heart_rate" class="form-label">En cuanto tiene la frecuencia cardíaca?</label>
            <input type="number" id="heart_rate" name="heart_rate" class="form-input" required
                placeholder="Escriba su respuesta por favor" />

            <!-- input para el nivel de estress -->
            <label for="stress_level" class="form-label">En cuanto tiene el nivel de estrés?</label>
            <input type="number" id="stress_level" name="stress_level" class="form-input" required
                placeholder="Escriba su respuesta por favor" />

            <!-- input para los trigliceridos -->
            <label for="triglycerides" class="form-label">En cuanto tiene el nivel de triglicéridos?</label>
            <input type="number" id="triglycerides" name="triglycerides" class="form-input" required
                placeholder="Escriba su respuesta por favor" />

            <!-- input para la actividad fisica -->
            <label for="physical_activity_days_per_week" class="form-label">Cuantos días de actividad física realiza por
                semana?</label>
            <input type="number" id="physical_activity_days_per_week" name="physical_activity_days_per_week"
                class="form-input" required placeholder="Escriba su respuesta por favor" />

            <!-- input para horas de sueño por dia -->
            <label for="sleep_hours_per_day" class="form-label">Cuantas horas duerme por día?</label>
            <input type="number" id="sleep_hours_per_day" name="sleep_hours_per_day" class="form-input" required
                placeholder="Escriba su respuesta por favor" />
        </div>
        <div class="form-section">
            <h2>Caracteristicas 2</h2>

            <!-- input de diabetico -->
            <label for="diabetes" class="form-label">Es diabetico?</label>
            <select id="diabetes" name="diabetes" class="form-select" required>
                <option value="" disabled selected>Seleccione una respuesta</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>

            <!-- input por si fuma -->
            <label for="smoking" class="form-label">Fuma?</label>
            <select id="smoking" name="smoking" class="form-select" required>
                <option value="" disabled selected>Seleccione una respuesta</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>

            <!-- input por si tiene obesidad -->
            <label for="obesity" class="form-label">Tiene Obesidad?</label>
            <select id="obesity" name="obesity" class="form-select" required>
                <option value="" disabled selected>Seleccione una respuesta</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>

            <!-- input por si consume alcohol -->
            <label for="alcohol_consumption" class="form-label">Consume alcohol?</label>
            <select id="alcohol_consumption" name="alcohol_consumption" class="form-select" required>
                <option value="" disabled selected>Seleccione una respuesta</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>

            <!-- input por si tiene problemas cardiacos -->
            <label for="previous_heart_problems" class="form-label">Tiene problemas cardiacos previos?</label>
            <select id="previous_heart_problems" name="previous_heart_problems" class="form-select" required>
                <option value="" disabled selected>Seleccione una respuesta</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>

            <!-- input por si usa medicamentos -->
            <label for="medication_use" class="form-label">Usa medicamentos?</label>
            <select id="medication_use" name="medication_use" class="form-select" required>
                <option value="" disabled selected>Seleccione una respuesta</option>
                <option value="1">Sí</option>
                <option value="0">No</option>
            </select>
        </div>
        <div class="chat-container" style="text-align: center">
            <div class="chat-header">
                <h2>Chat - Algoritmo</h2>
            </div>
            <div class="chat-body" id="chatbox">
                <!-- Aquí se mostrarán los mensajes de la prediccion que realizo el algoritmo RamdonForest -->
            </div>
            <div class="chat-footer">
                <!-- Boton para llamar a un metodo que captura los datos ingresados por el usuario y los envia al servidor para el posterior analisis -->
                <button type="button" onclick="enviarDatosAlServidor()" class="form-submit">
                    Enviar
                </button>
            </div>
            <button type="button" id="limpiarChat" class="form-submit2">Limpiar Chat</button>

        </div>
    </div>

    <!-- En este chat se mostraran las recomendaciones que da la api de openAI de acuerdo a la prediccion -->
    <div class="chat-container" style="text-align: center">
        <div class="chat-header">
            <h2>Chat de recomendaciones</h2>
        </div>
        <div class="chat-body" id="chatbox5">
            <!-- Aquí se mostrarán los mensajes -->
        </div>
        <button type="button" id="limpiarChat2" class="form-submit2">Limpiar Chat</button>

    </div>
</body>

</html>


<script>
    //Se enviara el primer mensaje que tendra el chat
    var serverResponse =
        "¡Hola! ¿Que tal?, por favor enviame sus datos para analizarlos";
    $("#chatbox").prepend(
        "<div class='chat-message server-message'>" + serverResponse + "</div>"
    );

    //En este metodo se capturan y envian los datos al servidor para el posterior analisis
    function enviarDatosAlServidor() {
        var age = parseInt($("#age").val());
        var cholesterol = parseInt($("#cholesterol").val());
        var heartRate = parseInt($("#heart_rate").val());
        var stressLevel = parseInt($("#stress_level").val());
        var triglycerides = parseInt($("#triglycerides").val());
        var physicalActivityDaysPerWeek = parseInt(
            $("#physical_activity_days_per_week").val()
        );
        var sleepHoursPerDay = parseInt($("#sleep_hours_per_day").val());

        var diabetes = parseInt($("#diabetes").val());
        var smoking = parseInt($("#smoking").val());
        var obesity = parseInt($("#obesity").val());
        var alcoholConsumption = parseInt($("#alcohol_consumption").val());
        var previousHeartProblems = parseInt(
            $("#previous_heart_problems").val()
        );
        var medicationUse = parseInt($("#medication_use").val());

        // Verificar si algún campo está vacío, para obligar al usuario a escribir los campos que requieren dato
        if (
            isNaN(age) ||
            isNaN(cholesterol) ||
            isNaN(heartRate) ||
            isNaN(stressLevel) ||
            isNaN(triglycerides) ||
            isNaN(physicalActivityDaysPerWeek) ||
            isNaN(sleepHoursPerDay) ||
            isNaN(diabetes) ||
            isNaN(smoking) ||
            isNaN(obesity) ||
            isNaN(alcoholConsumption) ||
            isNaN(previousHeartProblems) ||
            isNaN(medicationUse)
        ) {
            // Mostrar un Sweet Alert con un mensaje de error por si algun campo no esta diligenciado
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Por favor complete todos los campos.',
            });
            return;
        }

        //Las caracteristicas capturadas del usuario
        var caracteristicas = {
            caracteristicas: {
                Age: age,
                Cholesterol: cholesterol,
                Heart_Rate: heartRate,
                Diabetes: diabetes,
                Smoking: smoking,
                Obesity: obesity,
                Alcohol_Consumption: alcoholConsumption,
                Previous_Heart_Problems: previousHeartProblems,
                Medication_Use: medicationUse,
                Stress_Level: stressLevel,
                Triglycerides: triglycerides,
                Physical_Activity_Days_Per_Week: physicalActivityDaysPerWeek,
                Sleep_Hours_Per_Day: sleepHoursPerDay,
            },
        };

        console.log("Síntomas capturados:");
        console.log(caracteristicas);

        //Barra de carga
        showLoader();

        //Hacer scroll hacia abajo
        scrollChatToBottom();

        // Variable global para controlar si el mensaje de efectividad de la estimación ya se ha enviado
        var accuracyMessageSent = false;
        //Ajax para la prediccion 
        $.ajax({
            url: "/predict",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(caracteristicas),
            success: function (response) {
                // Llamar a la función para mostrar la efectividad de la estimación si no se ha enviado previamente
                // if (!accuracyMessageSent === true) {
                //     showAccuracyMessage(response);
                //     accuracyMessageSent = true; // Marcar que el mensaje ha sido enviado

                // }
                console.log("Predicción del servidor:", response.prediction);
                // Aquí puedes mostrar la predicción al usuario o hacer cualquier otra cosa que necesites

                // Mostrar mensaje adicional dependiendo de la respuesta del servidor
                if (response.prediction.toLowerCase() === "enfermo") {
                    updateServerResponse(
                        "Enfermo, " +
                        "de acuerdo al análisis que realizamos, usted puede sufrir ataques al corazón."
                    );
                } else if (response.prediction.toLowerCase() === "no enfermo") {
                    updateServerResponse(
                        "No enfermo, " +
                        "de acuerdo al análisis que realizamos, usted no padece ataques al corazón y goza de buena salud."
                    );
                }

                // Caracteristicas que se capturan en el front las cuales se envian al servidor para el posterior analisis
                var caracteristicas2 = {
                    caracteristicas2: {
                        Age: age,
                        Cholesterol: cholesterol,
                        Heart_Rate: heartRate,
                        Diabetes: diabetes,
                        Smoking: smoking,
                        Obesity: obesity,
                        Alcohol_Consumption: alcoholConsumption,
                        Previous_Heart_Problems: previousHeartProblems,
                        Medication_Use: medicationUse,
                        Stress_Level: stressLevel,
                        Triglycerides: triglycerides,
                        Physical_Activity_Days_Per_Week: physicalActivityDaysPerWeek,
                        Sleep_Hours_Per_Day: sleepHoursPerDay,
                        Prediccion: response.prediction
                    },
                };
                fetch('/obtener_recomendaciones', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(caracteristicas2)
                })
                    .then(response => response.json())
                    .then(data => {
                        const recomendaciones = data.recomendaciones;
                        updateServerResponse2(recomendaciones);

                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            },
            error: function (xhr, status, error) {
                console.error("Error al enviar los síntomas al servidor:", error);
            },
        });
    }


    // Definir función para mostrar la efectividad de la estimación
    function showAccuracyMessage(response) {
        var accuracyMessage = `La efectividad con los datos de prueba con el modelo RandomForest es de ${response.estimacion_prueba} y con los datos de entrenamiento es de ${response.estimacion_entrenamiento}`;
        $("#chatbox").prepend(
            "<div class='chat-message server-message'>" +
            accuracyMessage +
            "</div>"
        );
    }

    // Simulación de respuesta del servidor con retraso
    function mensaje() {
        setTimeout(function () {
            hideLoader();
            var serverResponse =
                "¡Hola! ¿Necesitas ayuda de nuevo?, enviame los datos";
            $("#chatbox").append(
                "<div class='chat-message server-message'>" +
                serverResponse +
                "</div>"
            );
            scrollChatToBottom(); // Desplazar automáticamente hacia abajo
        }, 2000);
    }

    //Funcion que se utiliza para enviarle un conjunto de texto y este lo devuelva letra por letra.
    function showLettersByInterval(message, element) {
        var index = 0;
        var messageContainer = $(
            "<div class='chat-message server-message'></div>"
        );
        $(element).append(messageContainer);

        var interval = setInterval(function () {
            if (index < message.length) {
                messageContainer.append(message[index]);
                index++;
            } else {
                clearInterval(interval); // Detener la animación cuando se haya mostrado todo el mensaje
                mensaje();
                scrollChatToBottom();
            }
        }, 50); // Cambia este valor para ajustar la velocidad de la animación
    }

    //Funcion que se utiliza para enviarle un conjunto de texto y este lo devuelva letra por letra.
    function showLettersByInterval2(message, element) {
        var index = 0;
        var messageContainer = $(
            "<div class='chat-message server-message'></div>"
        );
        $(element).append(messageContainer);

        //Variable que permite 
        var interval = setInterval(function () {
            if (index < message.length) {
                messageContainer.append(message[index]);
                index++;
            } else {
                clearInterval(interval); // Detener la animación cuando se haya mostrado todo el mensaje
                scrollChatToBottom();
            }
        }, 50); // Cambia este valor para ajustar la velocidad de la animación
    }

    //funcion para cargar un loader, para simular la carga de las peticiones en el sistema
    function showLoader() {
        $("#chatbox").append("<div class='loader'></div>");
    }

    function hideLoader() {
        $(".loader").remove();
    }

    //funcion que permite hacer scroll al chat de recomendaciones
    function scrollChatToBottom() {
        var chatBody = document.getElementById("chatbox");
        chatBody.scrollTop = chatBody.scrollHeight;
    }

    //Funcion para enviar al chat donde se mostrara la prediccion del algoritmo, se enviara letra por letra.
    function updateServerResponse(response) {
        setTimeout(function () {
            $(".loader").remove();
            //$("#chatbox").append("<div class='chat-message server-message'>" + response + "</div>");
            showLettersByInterval(response, "#chatbox");
        }, 2000);
    }

    //Segunda funcion para enviar las recomendaciones que da la api de OpenAi de acuerdo a la predeccion del algoritmo, se enviaran letra por letra.
    function updateServerResponse2(response) {
        setTimeout(function () {
            $(".loader").remove();
            //$("#chatbox").append("<div class='chat-message server-message'>" + response + "</div>");
            showLettersByInterval2(response, "#chatbox5");
        }, 2000);
    }
</script>


<script>
    //Script para mostrar la grafica de barra al undirle al boton
    document.getElementById('generateBtn').addEventListener('click', function () {
        fetch('/generate_chart', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.chart_generated) {
                    var modal = document.getElementById('myModal');
                    var modalImg = document.getElementById("img01");
                    modal.style.display = "block";
                    modalImg.src = "static/bar_chart.png";

                    var span = document.getElementsByClassName("close")[0];
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                }
            });
    });

</script>

<script>
    //Script para mostrar la grafica de mapa de calor al undirle al boton
    document.getElementById('generateBtn2').addEventListener('click', function () {
        fetch('/generate_heatmap', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.generate_heatmap) {
                    var modal = document.getElementById('myModal2');
                    var modalImg = document.getElementById("img012");
                    modal.style.display = "block";
                    modalImg.src = "static/heatmap.png";

                    var span = document.getElementsByClassName("close1")[0];
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                }
            });
    });

</script>

<script>
    //Script para mostrar la grafica de dispersion al undirle al boton
    document.getElementById('generateBtn3').addEventListener('click', function () {
        fetch('/generate_dispersion', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.generate_dispersion) {
                    var modal = document.getElementById('myModal3');
                    var modalImg = document.getElementById("img013");
                    modal.style.display = "block";
                    modalImg.src = "static/dispersion.png";

                    var span = document.getElementsByClassName("close2")[0];
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                }
            });
    });

</script>

<script>
    //Script para mostrar la grafica de arbol de decision al undirle al boton
    document.getElementById('generateBtn4').addEventListener('click', function () {
        fetch('/generate_arbol_decision', { method: 'POST' })
            .then(response => response.json())
            .then(data => {
                if (data.generate_arbol_decision) {
                    var modal = document.getElementById('myModal4');
                    var modalImg = document.getElementById("img014");
                    modal.style.display = "block";
                    modalImg.src = "static/arbol_decision.png";

                    var span = document.getElementsByClassName("close3")[0];
                    span.onclick = function () {
                        modal.style.display = "none";
                    }
                }
            });
    });

</script>


<script>
    //Script para limpiar los mensajes del chat del algoritmo
    const limpiarChat = document.getElementById("limpiarChat");
    const chatbox = document.getElementById("chatbox");

    limpiarChat.addEventListener("click", () => {
        chatbox.innerHTML = ''; // Borra todo el contenido del chatbox

        //Se enviara el primer mensaje que tendra el chat
        var serverResponse =
            "¡Hola! ¿Que tal?, por favor enviame sus datos para analizarlos";
        $("#chatbox").prepend(
            "<div class='chat-message server-message'>" + serverResponse + "</div>"
        );
    });

    //Script para limpiar los mensajes del chat de OpenAi
    const limpiarChat2 = document.getElementById("limpiarChat2");
    const chatbox5 = document.getElementById("chatbox5");

    limpiarChat2.addEventListener("click", () => {
        chatbox5.innerHTML = ''; // Borra todo el contenido del chatbox
    });
</script>


<script>
    // Script para regresar a la vista principal
    document.getElementById('analizadorBtn').addEventListener('click', function () {
        // Crea el iframe
        const iframe = document.createElement('iframe');
        iframe.src = '{{ url_for("Principal") }}';
        iframe.width = '100%'; // Ajusta el ancho según tus necesidades
        iframe.height = '800px'; // Ajusta la altura según tus necesidades

        // Reemplaza el contenido del contenedor con el iframe
        const iframeContainer = document.getElementById('iframeContainer');
        iframeContainer.innerHTML = ''; // Limpia el contenedor
        iframeContainer.appendChild(iframe);
    });

</script>